<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.kokoko.server.ibutler.persistence.ActivityMapper">


    <select id="getActivityList" parameterType="long" resultType="cc.kokoko.server.ibutler.domain.Activity">
        SELECT a.*, u.nickname as username, u.profileImage as userLogoUrl FROM `i_activity` as a left join i_user as u on a.uid=u.uid
        WHERE
           a.uid = #{uid}
           ORDER BY a.activityId DESC
	</select>

    <select id="getLocalActivityList" parameterType="long" resultType="cc.kokoko.server.ibutler.domain.Activity">
        SELECT a.*, u.nickname as username, u.profileImage as userLogoUrl FROM `i_activity` as a left join i_user as u on a.uid=u.uid
        WHERE
            a.userType = 2
            AND a.communityId = #{communityId}
            ORDER BY a.activityId DESC
	</select>


    <select id="getActivityById" parameterType="long" resultType="cc.kokoko.server.ibutler.domain.Activity">
        SELECT a.*, u.nickname as username, u.profileImage as userLogoUrl FROM `i_activity` as a left join i_user as u on a.uid=u.uid
        WHERE
           a.activityId = #{activityId}
	</select>


    <insert id="createActivity" parameterType="cc.kokoko.server.ibutler.domain.Activity" useGeneratedKeys="true"
            keyProperty="activityId">
		INSERT INTO i_activity(activityTitle, activityDesc, attachmentList, viewCount, postTime, uid, titlePicUrl,communityId,userType)
		VALUES(#{activityTitle}, #{activityDesc}, #{attachmentList}, #{viewCount},NOW(), #{uid}, #{titlePicUrl}, #{communityId}, #{userType})
	</insert>

    <delete id="delActivityById" parameterType="long">
	    DELETE FROM  i_activity WHERE activityId = #{activityId}
	</delete>

    <update id="updateActivity" parameterType="cc.kokoko.server.ibutler.domain.Activity">
        update i_activity
        <set>
            activityTitle = #{activityTitle},
            titlePicUrl = #{titlePicUrl},
            attachmentList = #{attachmentList},
            activityDesc = #{activityDesc}
        </set>
        where activityId = #{activityId}
    </update>

    <update id="updateActViewCount" parameterType="cc.kokoko.server.ibutler.domain.Activity">
        update i_activity
        <set>
            viewCount = #{viewCount}
        </set>
        where activityId = #{activityId}
    </update>

    <!--
        获取活动信息
    -->
    <select id="getActivityRecordByParam" parameterType="map" resultType="cc.kokoko.server.ibutler.domain.Activity">
       SELECT a.*, u.nickname as username, u.profileImage as userLogoUrl FROM `i_activity` as a left join i_user as u on a.uid=u.uid
	   WHERE
           a.uid = #{uid}
       <if test="starttime!=null and starttime!='' ">
           and DATE(a.postTime) <![CDATA[ >= ]]> DATE(#{starttime})
       </if>
       <if test="endtime!=null and endtime!='' ">
           and DATE(a.postTime) <![CDATA[ <= ]]>DATE(#{endtime})
       </if>
	   ORDER BY a.activityId DESC LIMIT #{start}, #{pagesize}
    </select>

    <!--
        获取活动信息总条数
    -->
    <select id="getActivityCountByParam" parameterType="map" resultType="java.lang.Long">
        SELECT count(activityId) FROM `i_activity`
	   WHERE
           uid = #{uid}
        <if test="starttime!=null and starttime!='' ">
            and DATE(postTime) <![CDATA[ >= ]]> DATE(#{starttime})
        </if>
        <if test="endtime!=null and endtime!='' ">
            and DATE(postTime) <![CDATA[ <= ]]>DATE(#{endtime})
        </if>
	    ORDER BY activityId DESC
    </select>

</mapper>