<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.kokoko.server.ibutler.persistence.SysConfigMapper">
	<select id="getSysConfigList"  resultType="cc.kokoko.server.ibutler.domain.SysConfig">
	SELECT  * FROM  sys_config
	</select>
</mapper>